@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

:root {
  --text-color: #ffffff;
  /* --primarycolor: #e83333; */
  --primarycolor: #c6991f;
  --navyblue: #123456;
  --secondarycolor: #e0e0e0;
  --linkcolor: #89cff0;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1a1a1a;
  font-family: "Inter", sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Buttons */
.button-opacy-high {
  font-size: 1rem;
  padding: 1.1rem;
  border: 1px solid var(--primarycolor);
  background-color: var(--primarycolor);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-opacy-low {
  font-size: 1rem;
  padding: 1.1rem;
  border: 1px solid var(--primarycolor);
  background-color: transparent;
  color: var(--primarycolor);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-opacy-high:hover {
  background-color: transparent;
  color: var(--primarycolor);
}

.button-opacy-low:hover {
  background-color: var(--primarycolor);
  color: var(--text-color);
}

/* Navigation-Section */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  height: 5rem;
}
.nav-second {
  align-items: center;
}
.nav-content {
  padding: 0 0.2rem;
  border: 0;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
}
.nav-content:hover {
  color: var(--primarycolor);
}

/* Hero-Section */

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./public/Jp-Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: var(--text-color);
  font-family: "Italianno", cursive;
}

.japan-subtitle {
  font-size: 2rem;
  color: var(--secondarycolor);
}
.subtitle {
  font-size: 1.4rem;
  color: var(--secondarycolor);
  padding: 0;
  margin: 0;
}
.translation-subtitle-de {
  font-size: 1rem;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
.hero-call-to-action {
  margin: 3rem 0 0 0;
}

/* About-Section */

.about {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 4rem 2rem;
  gap: 2rem;
  color: var(--text-color);
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-title {
  font-size: 1.8rem;
  margin: 0 0 1.2rem 0;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primarycolor);
}
.about-lorem {
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
  color: var(--secondarycolor);
}
.div-about-img {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  gap: 0.5rem;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-img-tiny {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about-img-big {
  min-width: 50%;
}
.about-call-to-action {
  margin: 1.5rem 0;
}

/* Time-Section */

.timespan {
  height: 20rem;
  margin: 2rem 0;
  background: linear-gradient(0deg, rgba(51, 27, 27, 0.7), rgba(0, 0, 0, 0.7)),
    url(./public/Jp-timespan.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timespan-header {
  font-size: 1.5rem;
  display: inline-block;
  border-bottom: 1px solid var(--primarycolor);
  margin: 1rem 0;
  text-transform: uppercase;
  color: var(--text-color);
}
.timespan-content {
  width: 15rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
}
.timespan-day {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
.day {
  color: var(--secondarycolor);
}
.hour {
  color: var(--text-color);
}

/* Contact-Section */

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
}
.contact-img {
  height: 30rem;
  object-fit: cover;
}
.contact-header {
  font-size: 1.5rem;
  display: inline-block;
  border-bottom: 1px solid var(--primarycolor);
  margin: 1rem 0;
  text-transform: uppercase;
  color: var(--text-color);
}
.contact-details {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  margin: 1rem 1.5rem;
  align-items: flex-start;
}
.contact-detail {
  font-size: 1rem;
  color: var(--secondarycolor);
  margin-top: 0.5rem;
}
.contact-call-to-action {
  margin-top: 1rem;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  background-color: #303030;
  padding: 2rem 1rem;
  gap: 1rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-content {
  padding: 0 0.2rem;
  font-size: 0.8rem;
  gap: 1rem;
  margin-top: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
}
.footer-copyright {
  margin-top: 1rem;
  color: var(--text-color);
  font-size: 0.7rem;
}
.footer-content:hover {
  color: var(--primarycolor);
}

/* Responsive Changes */

@media screen and (min-width: 600px) {
  .nav-content {
    padding: 0 1rem;
    font-size: 1rem;
  }
  .title {
    font-size: 7rem;
  }
  .subtitle {
    font-size: 1.6rem;
  }
  .about-lorem {
    font-size: 1rem;
  }
  .timespan-header {
    font-size: 1.7rem;
  }
  .timespan-content {
    width: 18rem;
    font-size: 1.05rem;
  }
  /* contact */
  .contact {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5rem;
  }
  .contact-img {
    width: 40%;
  }
  .footer-links {
    flex-direction: row;
    gap: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 8rem;
  }
  .subtitle {
    font-size: 1.9rem;
  }
  .nav-content {
    padding: 0 2rem;
    font-size: 1.05rem;
  }
  .about {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .div-about-img {
    gap: 1rem;
  }
  .about-img-tiny {
    gap: 1rem;
  }
  .timespan-header {
    font-size: 2rem;
  }
  .timespan-content {
    width: 21rem;
    font-size: 1.1rem;
  }
  .contact {
    gap: 5rem;
  }
  .contact-detail {
    font-size: 1rem;
  }
  .contact-details {
    justify-content: flex-start;
  }
  .contact-header {
    font-size: 2rem;
  }
  .contact-image {
    width: 70%;
  }
  .footer-content {
    font-size: 0.8rem;
    gap: 4.5;
  }
}

@media only screen and (min-width: 1200px) {
  .about {
    max-width: 1200px;
    margin: 4rem auto;
  }
}
